<head>
  <meta charset="utf-8" />
  <title>OA DB Backend</title>
  <h1 align="center">OREGONE AIRLINES DB ADMIN PAGE</h1>
  <link rel="stylesheet" href="style.css" type="text/css">

<body>
  	{{{ links_table }}}
  </div>
  <h3 align="center">Create New Flight</h3>
  <div>
    <form action="/addFlight" , method="post">
      <table>
        <tr>
          <td><strong>Depart Date</strong>
          <td><input type="date" value="2025-01-01" name="projected_departure_date" />
        <tr>
          <td><strong>Depart Time</strong>
          <td><input type="time" value="T09:30" name="projected_departure_time" />
        <tr>
          <td><strong>Arrival Date</strong>
          <td><input type="date" value="2025-01-01" name="projected_arrival_date" />
        <tr>
          <td><strong>Arrival Time</strong>
          <td><input type="time" value="T12:30" name="projected_arrival_time" />
        <tr>
          <td><strong>Route</strong>
          <td><select name="route_id">
            {{{ routes }}}
              </select>
        <tr>
          <td><strong>CrewList</strong>
          <td><select name="crewlist_id">
              {{{ crewlists }}}
            </select>
        <tr>
          <td><strong>Plane</strong>
          <td><select name="plane_id">
            {{{ planes }}}
            </select>
        <tr>
          <td><strong>TravelerList First Class</strong>
          <td><select name="first_class_travelerlist_id">
            {{{ travelerlists }}}
            </select>
        <tr>
          <td><strong>TravelerList Second Class</strong>
          <td><select name="second_class_travelerlist_id">
            {{{ travelerlists }}}
            </select>
        <tr>
          <td><strong>TravelerList Third Class</strong>
          <td><select name="third_class_travelerlist_id">
            {{{ travelerlists }}}
            </select>
        <tr>
          <td>
          <td><input type="submit"></input>
      </table>
    </form>
  </div>

  <table id="results"> 
    {{{ results }}}
  </table>

  <br>
  <br>
  </div>
</body>
